label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    line-height: 100%;
}

input {
    padding: 10px;
    border-radius: 10px;
}

.container{
    display: inline-block;
}


