.input-container{
    margin: 2% 0px 0px 2%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 4%;
}

@media (max-width: 768px){
    .input-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 10%;
        padding-bottom: 10%;

    }
    input{
        width: 65%;
    }


}